# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/**/build/

# Kotlin
*.class

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea/workspace.xml
.idea/tasks.xml
.idea/shelf/
*.iws
out/

# Local config
local.properties
.env
